<%- include('partials/header'); %>
<hr>
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Aquarium Next - Schede</p>
            <!-- Side Menu -->
            <% piante.forEach((piante, plant) => { %>
            <div class="list-group">
                <a class="list-group-item text-white bg-dark">
                    <b>Info</b>
                </a>
                <a class="list-group-item list-group-item-action"><b>Valori acqua:</b> Ph <%= piante.ph %> - dH <%= piante.dh %></a>
                <a class="list-group-item list-group-item-action"><b>Provenienza:</b> <%= piante.provenienza %></a>
                <a class="list-group-item list-group-item-action"><b>Luce:</b> <%= piante.luce %> </a>
                <a class="list-group-item list-group-item-action"><b>Crescita:</b> <%= piante.difficolta %></a>
                <a class="list-group-item list-group-item-action"><b>Riproduzione:</b> <%= piante.riproduzione %></a>
            </div> 
        </div>
        
      
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark" style="width:600px">
                <img class="card-img-top" src="/db/plant/<%= piante.image %>">
                <div class="card-body">
                    <h5 class="card-title"><b><%= piante.nome %></a></b></h5>
                    <p class="card-text">Famiglia: <%= piante.famiglia %><br>Provenienza: <%= piante.provenienza %><br>Riproduzione: <%= piante.riproduzione %><br>Difficoltà <%= piante.difficolta %><br>Posizione: <%= piante.posizione %><br></p>
                    <p class="card-text">Descrizione: <%= piante.descrizione %></p>
                </div>
            </div>
        </div>
        <% }) %>
   </div>
              

<a href="/plant" class="btn btn-dark">Torna alla tabella</a>
<%- include('partials/footer'); %>