<%- include('../partials/header'); %>

<% pesci.forEach((pesci, fish) => { %>
    <!-- Main -->
    <div class="main">
        <!-- Article -->
        <div class="article">
            <!-- end Article Title -->
            <div class="row" style="text-align: center;">
    
                <img class="rounded mx-auto d-block" style="width:600px; align-items: center;" src="/db/fish/<%= pesci.image %>">                  

                <div class="card-body">
                    <h5 class="card-title"><b><%= pesci.nome %></b></h5>
                    <p class="card-text">Famiglia: <%= pesci.famiglia %><br>Valori acqua:<%= pesci.pH %> - dH <%= pesci.dH %>
                        <br>Temperatura: <%= pesci.temperatura %>
                        <br>Dimensioni: <%= pesci.dimensioni %><br><br>Provenienza: <%= pesci.provenienza %>
                        <br>Alimentazione: <%= pesci.alimentazione %><br>
                        <br>Carattere: pacifico<br>Litraggio minimo consigliato: <%= pesci.litraggioMinimo %><br>Acquario di Comunita': <%= pesci.adattoAcquarioComunità %>
                    </p>
                    <p class="card-text"><%= pesci.descrizione %></p>
                </div>
            </div>
        </div>
        <!-- end Article -->
    </div>
    <!-- end Main -->
<% }) %>                      
<!-- Footer -->
<%- include('../partials/footer'); %>         