<%- include('../partials/header'); %>


 <!-- FX Container -->
 <% pesci.forEach((pesci, fish) => { %>
    <div id="fx-container" class="fx-opacity">
        <!-- Page content -->
        <div id="page-content" class="block">
            <!-- Card Profile Header -->
            <div class="block-header">
                <div class="row remove-margin">  
                    <!-- Photo and Name -->
                    <div class="col-sm-6">
                        <a href="" class="header-title-link">
                            <h1 class="profile-name">
                                AquariumNext <br><small>Scheda Pesce</small>
                            </h1>
                        </a>
                    </div>
                    <!-- END Photo and Name -->
                    <!-- Extra -->
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="javascript:void(0)" class="header-link">
                                    <h1 class="animation-pullDown"></h1>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)" class="header-link">
                                    <h1 class="animation-pullDown"></h1>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)" class="header-link">
                                    <h1 class="animation-pullDown"></h1>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END Extra -->             
                </div>
            </div>
            <ul class="breadcrumb breadcrumb-top">
                <li><i href="/" class="fa fa-bookmark"></i></li>
                <li><a href="/fish">Elenco</a></li>
                <li><i href="/" ></i><%= pesci.nome %></li>      
            </ul>
            <!-- END Card Profile Header -->
            <!-- Card Content -->
            <div class="row gutter30">
                <div class="col-md-8">
                    <div class="block">
                        <div class="block-title">
                            <h2><i class="fa fa-rss"></i>
                                <%= pesci.nome %>
                            </h2>
                        </div>
                        <!-- Card Image -->
                        <ul class="media-list text-center">
                            <li class="media">
                                <img src="/db/fish/<%= pesci.image %>" class="card">
                            </li>
                        </ul>
                        <!-- END Card Image -->    
                    </div>
                </div>
                <!-- Lateral Box -->
                <div class="col-md-4">
                <!-- Water Needs -->
                    <div class="block full">
                        <div class="block-title">
                            <h2><i class="fa fa-tint" aria-hidden="true"></i> Valori Acqua</h2>
                        </div>
                        <ul>
                            <li>pH:
                                <%= pesci.pH %>
                            </li>
                            <li>dH:
                                <%= pesci.dH %>
                            </li>
                            <li>Temperatura:
                                <%= pesci.temperatura %>
                            </li>
                        </ul>
                    </div>
                    <!-- END Water Needs -->
                    <!-- Description -->
                    <div class="block">
                        <div class="block-title">
                            <h2><i class="fa fa-info"></i> Descrizione</h2>
                        </div>
                        <ul>
                            <li>Famiglia:
                                <%= pesci.famiglia %>
                            </li>
                            <li>Provenienza:
                                <%= pesci.provenienza %>
                            </li>
                            <li>Dimensioni:
                                <%= pesci.dimensioni %>
                            </li>
                            <li>Carattere:
                                <%= pesci.carattere %>
                            </li>
                            <li>Litraggio minimo consigliato:
                                <%= pesci.litraggioMinimo %>
                            </li>
                            <li>Acquario di Comunita':
                                <%= pesci.adattoAcquarioComunità %>
                            </li>
                        </ul>
                        <p>
                            <%= pesci.descrizione %>
                        </p>
                    </div>
                    <!-- END Description -->
                </div>
                <!-- END Lateral Box -->
            </div>
            <!-- END Card Box -->
        </div>
        <!-- END Page Content -->
<% }) %>                      
<%- include('../partials/footer'); %>