<%- include('../partials/navbar.ejs'); %>

<div class="drawer">
    
    <h1 class="tables-title">Schede Pesci</h1>

    <div class="flex-wrap">

    <% if (fishes.length > 0) {%>
        
    <% fishes.forEach((fish) => { %>
    <div class="card-container">
        <div class="card">
          <img src="/media/fish/<%= fish.fish_img %>">

          <div class="card-info">
            <h4><%= fish.fish_name %></h4>
          </div>

          <div class="info-tab">
            <h2>Info</h2>
            <br>Nome comune: <%= fish.fish_common_name %> </br>Famiglia: <%= fish.family_name %></br>Provenienza: <%= fish.biotope_continent %></p>
            <a class="btn-info" href="/scheda-pesce?id=<%=fish.id%>">Apri</a>
          </div>

       </div>
    </div>
    <% }) %>
    <% } else { %>
        <p class="text-center">Nessun pesce trovato</p>
    <% } %>
    </div>
</div>

<%- include('../partials/footer.ejs'); %>