<!-- Header -->
<%- include('../partials/header'); %>

<% if (piante.length > 0) {%>
<!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">

        <!-- Datatables Header -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
                <h1 class="display-4">Schede Piante</h1>
                <p class="lead">Qui troverai le principali piante presenti nei nostri acquari</p>
            </div>
        </div>   
        <!-- end Header -->
        
        <!-- Datables Content-->
        <div class="table-responsive">
            <table id="data" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th>Nome</th>
                        <th>Famiglia</th>
                        <th>Provenienza</th>
                        <th class="text-center">Difficoltà</th>
                    </tr>
                </thead>
                <tbody>
                    <% piante.forEach((piante, plant) => { %>
                    <tr>
                        <td class="text-center"><img src="/icon/plant.png" class="rounded-circle pesci-img" alt=""></td>
                        <td><a href="/plant.card?id=<%= piante.id %>"><%= piante.nome %></a></td>
                        <td><%= piante.famiglia %></td>
                        <td><%= piante.provenienza %></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <%= piante.difficolta %>
                            </div>
                        </td>
                    </tr>
                    <% }) %>  
                </tbody>
            </table>
            <% } else { %>
                <p class="text-center">No piante found</p>
            <% } %>
        </div>
        <!-- END Datatables Content -->
    </div>
  <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>  