 <%- include('../partials/header'); %>

<% if (piante.length > 0) {%>
<!-- table header -->
    <div id="fx-container" class="fx-opacity">
        <!-- Page content -->
        <div id="page-content" class="block full">
            <!-- Datatables Header -->
            <div class="block-header">
                <a href="" class="header-title-link">
                    <h1>
                        <i class="fa fa-th animation-expandUp"></i>Schede Piante<br><small>Qui troverai le principali piante presenti nei nostri acquari</small>
                    </h1>
                </a>
            </div>
            <ul class="breadcrumb breadcrumb-top">
                <li><i class="fa fa-th"></i></li>
                <li>Schede</li>
                <li><a href="">Piante</a></li>
            </ul>
            <!-- END Datatables Header -->
            <!-- Datatables Content -->              
            <div class="table-responsive">
                <table id="example-datatable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Nome</th>
                            <th>Famiglia</th>
                            <th>Provenienza</th>
                            <th class="text-center">Difficoltà</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% piante.forEach((piante, plant) => { %>
                        <tr>
                            <td class="text-center"><img src="/icon/plant.png" class="rounded-circle pesci-img" alt=""></td>
                            <td><a href="/plant_card?id=<%= piante.id %>"><%= piante.nome %></a></td>
                            <td><%= piante.famiglia %></td>
                            <td><%= piante.provenienza %></td>
                            <td class="text-center">
                                <div class="btn-group">
                                            <%= piante.difficolta %>
                                </div>
                            </td>
                        </tr>
                    <% }) %>  
                    </tbody>
                </table>
<% } else { %>
    <p class="text-center">No piante found</p>
<% } %>
            </div>
    <!-- END Datatables Content -->
        </div>
<!-- END Page Content -->
<%- include('../partials/footer'); %>
<!-- Datables script -->
<script>
    $(function () {
        /* Initialize Bootstrap Datatables Integration */
        webApp.datatables()
        /* Initialize Datatables */
        $('#example-datatable').dataTable({
            columnDefs: [{orderable: false, targets: [4]}],
            pageLength: 15,
            lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "Tutti"]]
        });

        /*  search form */
        $('.dataTables_filter input').attr('placeholder', 'Cerca');
    });
</script>